*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase Cloud Functions
/functions/node_modules
/functions/lib
/firebase-debug.log
/firestore-debug.log
/ui-debug.log
/.firebase
*serviceAccountKey*.json
